header {
  background-color: var(--blue);
  padding: 30px 0;
  font-family: "Lato";
}
.header-in {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header-in-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 30px;
  color: var(--white);
  letter-spacing: 2px;
  text-transform: uppercase;
  flex: 1;
}
.header-left-in {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-center {
  flex: 1;
}
.search-icon {
  display: flex;
}

.header-right a {
  font-size: 12px;
  letter-spacing: 2px;
}

.header-in-bottom .header-list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.header-list ul li a {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--white);
  cursor: pointer;
  letter-spacing: 2px;
}
.toggle-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  display: none;
}

@media screen and (max-width: 1023px) {
  .header-in-bottom {
    display: none;
  }
  .header-in-top {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 20px;
  }
  .header-left-text {
    display: none;
  }
  .header-right {
    display: none;
  }
  .search-text {
    display: none;
  }
  .menu-icon {
    flex: 1;
  }
  .header-left {
    flex: 1;
    justify-content: flex-end;
  }
  .header-center {
    flex: 1;
  }
  .toggle-icon {
    display: block;
    cursor: pointer;
    flex: 1;
  }
}

/* header-end  */

/* .mobile-nav-sttart  */

.menu-icon {
  display: block;
  cursor: pointer;
}

.close-icon {
  display: none;
  cursor: pointer;
}

.mobile-nav {
  background-color: var(--blue);
  position: fixed;
  top: 97px;
  width: 90%;
  font-family: "Lato";
  left: -100%;
  transition: 0.5s;
  z-index: 1000;
  height: 100vh;
}

.mobile-nav.active {
  left: 0;
}
.mobile-nav-in {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.mobile-nav-top ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.mobile-nav-top ul li a {
  text-transform: uppercase;
  color: var(--white);
  font-size: 12px;
  letter-spacing: 2px;
}
.mobile-nav-bottom {
  display: flex;
  letter-spacing: 2px;
  justify-content: center;
}

/* Adjustments for mobile view */
@media screen and (max-width: 1023px) {
  .header-in-bottom {
    display: none;
  }

  .toggle-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  .menu-icon.active {
    display: none;
  }

  .close-icon {
    display: none;
  }

  .close-icon.active {
    display: block;
  }
}

/* mobile-nav-end */

/* hero-start  */
.hero-container {
  position: relative;
  font-family: "Lato";
}
.hero-img {
  width: 52%;
  position: absolute;
  height: 100%;
  z-index: 99999;
}
.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-content {
  background-color: var(--blue);
  position: relative;

  right: 0;
  top: 0;
  background-image: url("../assets/images/whiteline.png");
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.hero-content-in {
  display: flex;
  flex-direction: column;

  width: 45%;
  gap: 60px;
  margin-left: auto;
  padding-left: 45px;
}
.hero-heading h1 {
  color: var(--white);
  font-family: "Teodor TRIAL";
  line-height: 80px;
}
.hero-italic {
  font-family: "Beyond Infinity - Demo";
  font-size: 35px;
  color: var(--yellow);
  font-weight: 400;
  display: none;
}
.hero-para {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--white);
  letter-spacing: 1px;
}
.hero-content-bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.hero-content-bottom p {
  color: var(--white);
}
.hero-content-bottom a {
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* responsive-media  */
@media screen and (max-width: 1099px) {
  .hero-heading h1 {
    font-size: 80px;
  }
  .hero-content-in {
    gap: 35px;
  }
}
@media screen and (max-width: 950px) {
  .hero-heading h1 {
    font-size: 63px;
  }
  .hero-content-in {
    gap: 32px;
  }
}
@media screen and (max-width: 767px) {
  .hero-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero-img {
    position: relative;
    width: 100%;
  }
  .hero-content-in {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
  .hero-heading h1 {
    font-size: 42px;
  }
  .hero-italic {
    display: block;
  }
  .hero-content-bottom {
    gap: 60px;
  }
}

/* hero-end  */

/* craftman start  */
.craftman-container {
  background-color: #f1e8d6;
}
.craft-container-in {
  padding: 60px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.top-italic p {
  font-family: "Beyond Infinity - Demo";
  color: var(--yellow);
  font-size: 28px;
  font-weight: 400;
}
.craft-top {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.craft-top-down {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  margin: 0 auto;
  color: var(--para);
}
.craft-top-down p {
  max-width: 820px;
  font-family: "Lato";
  line-height: 25px;
}
.craft-bottom {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.craft-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* responsive design  */
@media screen and (max-width: 767px) {
  .container {
    padding: 0 3%;
  }
  .craft-container-in {
    text-align: start;
  }
  .top-heading h2 {
    font-size: 42px;
  }
  .craft-top-down p {
    text-align: start;
  }
  .craft-bottom {
    justify-content: space-between;
    gap: 80px;
  }
}
@media screen and (max-width: 499px) {
  .craft-bottom {
    gap: 30px;
  }
}

/* craftman-end  */

/* about-start  */
.about-container {
  position: relative;
  background-color: #f0ece4;
}
.about-left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/images/white2.png");
}
.about-left-in {
  width: 33%;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-right: auto;
}

.about-para {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  color: var(--para);
}
.about-para p {
  line-height: 150%;
}
.para-one {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 52%;
  height: 100%;
  z-index: 99999;
}
.about-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-center {
  position: absolute;
  top: 40%;
  left: -8%;
  z-index: 9999999;
}
.about-center img {
  width: 100%;
}
/* responsive design  */
@media screen and (max-width: 810px) {
  .about-container {
    display: flex;
    flex-direction: column;
  }
  .about-left-in {
    width: 100%;
    padding: 50px 0;
  }
  .left-in-up h2{
    font-size: 42px;
    max-width: 500px;
  }
  .about-right {
    position: relative;
    width: 100%;
  }
  .about-center {
    top: -4%;
    right: -10px;
    left: auto;
  }
  .about-center img {
    width: 80%;
  }
}
@media screen and (max-width: 550px) {
  .about-center {
    top: -7%;
    right: -80px;
    left: auto;
  }
  .about-center img {
    width: 50%;
  }
}

/* partner-start  */
.mattress-container {
  background-color: #041948;
  padding: 100px 0;
}
.mattress-in {
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: var(--white);
}
.mattress-in-top {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.mattress-top-up p {
  font-family: "Beyond Infinity - Demo";
  font-size: 28px;
  color: var(--white);
}
.mattress-top-up h2 {
  font-family: "Teodor TRIAL";
  letter-spacing: -1px;
}
.mattress-top-bottom p {
  line-height: 140%;
  max-width: 550px;
}
.mattress-in-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.mattress-bottom-details1,
.mattress-bottom-details2,
.mattress-bottom-details3 {
  display: flex;
  align-items: flex-end;
  padding-bottom: 50px;

  background-size: cover;
  height: 412px;
  background-image: url(../assets/images/mattress1.png);
}
.mattress-bottom-details2 {
  background-image: url(../assets/images/mattress2.png);
}
.mattress-bottom-details3 {
  background-image: url(../assets/images/mattress3.png);
}
.bottom-details-in {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 20px;
  color: var(--white);
}
.bottom-details-up {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bottom-details-up p {
  max-width: 400px;
}

/* responsive design  */
@media screen and (max-width: 768px) {
}

/* partner-end  */

/* mattress start  */

.partner-container {
  background-color: #f0ece4;
}
.partner-in {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.partner-in-top {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.top-up p {
  font-family: "Beyond Infinity - Demo";
  font-size: 28px;
  color: var(--yellow);
}
.top-up h2 {
  font-family: "Teodor TRIAL";
  letter-spacing: -1px;
}
.top-bottom p {
  line-height: 140%;
}
.partner-in-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.bottom-details1,
.bottom-details2,
.bottom-details3 {
  display: flex;
  align-items: flex-end;
  padding-bottom: 50px;

  background-size: cover;
  height: 412px;
  background-image: url(../assets/images/partner1.png);
}
.bottom-details2 {
  background-image: url(../assets/images/partner2.png);
}
.bottom-details3 {
  background-image: url(../assets/images/partner3.png);
}
.bottom-details-in {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 20px;
  color: var(--white);
}
.bottom-details-up {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.partner-in-bottom p {
  max-width: 400px;
}
.bottom-details-down {
  display: none;
}

/* responsive design  */

/* mattress end  */

/* collection-start  */

.collection-container {
  position: relative;
  background-color: #f0ece4;
}
.collection-left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/images/white2.png");
}
.collection-left-in {
  width: 33%;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-left: auto;
}

.collection-para {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  color: var(--para);
}
.collection-para p {
  line-height: 150%;
}
.collection-para .para-one {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.collection-right {
  position: absolute;
  inset: 0;
  width: 52%;
  height: 100%;
  z-index: 99999;
}
.collection-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collection-center {
  position: absolute;
  top: 40%;
  right: -10%;
  z-index: 9999999;
}
.about-center img {
  width: 100%;
}
/* responsive design  */
@media screen and (max-width: 810px) {
  .collection-container {
    display: flex;
    flex-direction: column;
  }
  .collection-left-in {
    width: 100%;
    padding: 50px 0;
  }
  .collection-left-in-up h2{
    font-size: 42px;
  }
  .collection-right {
    position: relative;
    width: 100%;
  }
  .collection-center {
    top: -4%;
    right: -10px;
    left: auto;
  }
  .collection-center img {
    width: 80%;
  }
}
@media screen and (max-width: 550px) {
  .collection-center {
    top: -7%;
    right: -80px;
    left: auto;
  }
  .collection-center img {
    width: 50%;
  }
}

/* collection end  */

/* location start  */
.location-container {
  background-color: #f1e8d6;
}
.location-top {
  padding: 50px 0;
}
.location-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.location-left {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.location-left h2 {
  max-width: 450px;
}
.location-left p {
  font-size: 32px;
  color: var(--yellow);
  line-height: 100%;
  font-family: "Beyond Infinity - Demo";
}
.location-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.location-right-up {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  color: var(--para);
}
.location-bottom {
  position: relative;
}
.location-center-img1 {
  position: absolute;
  top: 50%;
  left: 30%;
}
.location1 {
  background-color: #041948;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--white);
  padding: 35px 40px;
  width: 326px;
}

/* responsive media  */
@media screen and (max-width:1024px){
  .location-in{
    padding: 0;
  }
}
@media screen and (max-width:850px){
  .location-in{
    flex-direction: column;
    
    align-items: flex-start;
  }
  .location-in h2{
    max-width: 100%;
    font-size: 42px;
  }
  .location-right-up{
    max-width: 650px;
  }
  .location-center-img1{
    left: 5%;
    top: 51%;
  }
}


/* location-end  */


/* comfort start  */

.comfort-container {
  position: relative;
  background-color: #f0ece4;
}
.comfort-left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/images/white2.png");
}
.comfort-left-in {
  width: 33%;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 55px;
  margin-right: auto;
}
.comfort-left-in-up{
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.comfort-para {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  color: var(--para);
}
.about-para p {
  line-height: 150%;
}
.para-one {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.comfort-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 52%;
  height: 100%;
  z-index: 99999;
}
.comfort-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.stylish-para{
font-family: 'Beyond Infinity - Demo';
font-size: 32px;
color: var(--yellow);
}

/* responsive design  */
@media screen and (max-width: 810px) {
.comfort-container {
    display: flex;
    flex-direction: column;
  }
  .comfort-left-in {
    width: 100%;
    padding: 50px 0;
  }
  .comfort-left-in-up{
    gap: 0px;
  }
  .left-in-up h2{
    font-size: 42px;
    max-width: 500px;
  }
  .comfort-right {
    position: relative;
    width: 100%;
  }

}

/* comfort end  */

/* slider-start  */
.slider-container {
  background-color:#2E3B57;
  padding: 90px 0;
}
.slider-in{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
}
.slider-right img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-in-left{
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: var(--white);
}
.slider-head p{
  font-size: 32px;
  font-family: 'Beyond Infinity - Demo';
}
.slider-para p{
  font-size: 35px;
  font-family: 'Teodor TRIAL';
  max-width: 750px;
  line-height: 120%;
}

/* slider-end  */


